aclocal.m4
autom4te.cache
autoregen.sh
compile
src/gstrpicam-enum-types.c
src/gstrpicam-enum-types.h
.deps/
.libs/
*.la
*.lo
config.*
configure
libtool
INSTALL
Makefile.in
Makefile
depcomp
install-sh
ltmain.sh
missing
stamp-*
gstrpicamsrc-*.tar.*
*~
debian/files
/build
